{% extends 'admin/conference/_layout.twig' %}

{% block title %}Active Users{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Active Users{% endblock %}
    {% block body %}
      <p>Below is a table of every user in the database. This includes current members, lapsed members, and non-members of the society, and serves as a pool from which to draw on reviewers, commentators, etc. for the conference. Because the pool of users is large, however, and may include people who are retired, deceased, or unlikely to be of help, you may mark a subset of users as <em>active</em>. Only active users will be displayed in the dropdown menus for selecting reviewers, commentators, etc.</p>
      <p>Active users are highlighted in green in the table below; click on a user’s name to toggle their active status. The <em>yes</em> and <em>no</em> entries in the table indicate whether or not the user has explicitly indicated a willingness to review, comment, or chair. The numbers underneath show the proportion of invitations accepted (and completed) to invitations sent.</p>
      {% include 'admin/conference/user/_list.twig' %}
    {% endblock %}
  {% endembed %}
{% endblock %}
