{% extends 'site/templates/_layout.twig' %}

{% block main %}
  {% embed 'site/_embed/heading.twig' %}
    {% if conferences|length > 0 %}
      {% block right %}
        <select data-filter="decade" data-table="conferences">
          {% for decade in decades %}
            <option value="{{ decade }}">{{ decade }}s</option>
          {% endfor %}
        </select>
      {% endblock %}
    {% endif %}
  {% endembed %}
  {% if conferences|length > 0 %}
    {% include 'site/_include/conferences-table.twig' %}
  {% else %}
    <p>There is no conference data available.</p>
  {% endif %}
{% endblock %}
