{% extends 'site/templates/_layout.twig' %}

{% block main %}
  <h1>{{ page.title }}</h1>
  {% if conferences|length > 0 %}
    {% for conference in conferences %}
      <div class="hero">
        {% include 'site/_include/conference-details.twig' %}
      </div>
    {% endfor %}
  {% else %}
    <p>There are no forthcoming conferences in the database.</p>
  {% endif %}
{% endblock %}
