{% extends 'site/templates/_layout.twig' %}

{% block main %}
  {% embed 'site/_embed/title-with-options.twig' %}
    {% block right %}
      <nav class="tabs">
        <a data-tab="browse-archive" class="is-active">Browse</a>
        <a data-tab="search-archive">Search</a>
      </nav>
    {% endblock %}
  {% endembed %}
  {{ page.content | raw }}
  <div class="tab-panes">
    <div class="tab-pane is-active" id="browse-archive">Loading archive data...</div>
    <div class="tab-pane" id="search-archive">
      <div class="search-field">
        <label for="search-authors">Search Authors:</label>
        <input type="text" id="search-authors">
      </div>
      <div class="search-field">
        <label for="search-titles">Search Titles:</label>
        <input type="text" id="search-titles">
      </div>
      <h4>Search Results</h4>
      <div id="search-results">
        <p>Enter your search terms in the boxes above.</p>
      </div>
    </div>
  </div>
{% endblock %}
