{% extends 'site/templates/_layout.twig' %}

{% block main %}
  {% embed 'site/_embed/heading.twig' %}{% endembed %}
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Institution</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody id="membership-list">
      <tr>
        <td></td>
        <td colspan="3">Loading data...</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
