{% extends 'site/templates/_layout.twig' %}

{% block title %}Access Forbidden{% endblock %}

{% block main %}
  {% embed 'site/_embed/heading.twig' %}{% endembed %}
  <p>This page is restricted to Hume Society members in good standing. Your dues lapsed in {{ app.user.dues|date('F Y') }}. Please <a href="{{ path('account_pay') }}">Pay Your Dues</a> to access this content.</p>
{% endblock %}
