{% extends 'site/templates/_layout.twig' %}

{% block title %}Access Forbidden{% endblock %}

{% block main %}
  <h1>{{ page.title }}</h1>
  <p>This page is restricted to Hume Society members in good standing. Please <a href="{{ path('account_pay') }}">Join the Society</a> to access this content.</p>
{% endblock %}
