{% extends 'site/templates/_layout.twig' %}

{% block title %}Access Forbidden{% endblock %}

{% block main %}
  {% embed 'site/_embed/heading.twig' %}{% endembed %}
  <p>This page is restricted to Hume Society members in good standing. Please <a href="{{ path('account_pay') }}">Join the Society</a> to access this content.</p>
{% endblock %}
