{% extends 'site/templates/_layout.twig' %}

{% block main %}
  {% embed 'site/_embed/heading.twig' %}{% endembed %}
  <p id="membership-summary">Analyzing data...</p>
  <h2>Members by Region</h2>
  <canvas id="membership-regions"></canvas>
  <h2>Members by Country</h2>
  <canvas id="membership-countries"></canvas>
{% endblock %}
