{% extends 'site/templates/_layout.twig' %}

{% block main %}
  <h1>{{ page.title }}</h1>
  {% if newsItems %}
    {% include 'site/_include/new-items.twig' %}
  {% else %}
    <p>There is no news at the moment.</p>
  {% endif %}
{% endblock %}
