{% extends 'site/templates/_layout.twig' %}

{% block main %}
  {% if societyNewsItems or membersNewsItems or conferencesNewsItems or fellowshipsNewsItems %}
    {% embed 'site/_embed/title-with-options.twig' %}
      {% block option %}
        <select data-filter="year" data-table="newsItems">
          {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
        </select>
      {% endblock %}
    {% endembed %}
    <div class="loading" id="newsItems">
      {% if societyNewsItems %}
        {% include 'site/_include/news-items.twig' with { 'newsItems': societyNewsItems } %}
      {% endif %}
      {% if membersNewsItems %}
        {% include 'site/_include/news-items.twig' with { 'newsItems': membersNewsItems } %}
      {% endif %}
      {% if conferencesNewsItems %}
        {% include 'site/_include/news-items.twig' with { 'newsItems': conferencesNewsItems } %}
      {% endif %}
      {% if fellowshipsNewsItems %}
        {% include 'site/_include/news-items.twig' with { 'newsItems': fellowshipsNewsItems } %}
      {% endif %}
    </div>
  {% else %}
    <h1>{{ page.title }}</h1>
    <p>There is no archived news available.</p>
  {% endif %}
{% endblock %}
