{% extends 'site/templates/_layout.twig' %}

{% block main %}
  {% embed 'site/_embed/heading.twig' %}{% endembed %}
  {% if newsItems %}
    {% include 'site/_include/news-items.twig' %}
  {% else %}
    <p>There is no news at the moment.</p>
  {% endif %}
{% endblock %}
