{% extends 'site/templates/_layout.twig' %}

{% block main %}
  {% embed 'site/_embed/heading.twig' %}{% endembed %}
  <p>The following three Guides convert page numbers of the Selby‑Bigge/Nidditch editions of Hume’s <i>Treatise</i>, <i>Abstract</i>, and <i>Enquiries</i> into the universal references established by the new Oxford University Press editions of them. The Guides, prepared by David and Mary Norton, were published in the November 2003 issue of <i>Hume Studies</i>.</p>
  <ul>
    <li><a href="/pdfs/Web-Guide-for-Treatise.pdf">Treatise and Abstract</a></li>
    <li><a href="/pdfs/Web-Guide-for-First-Enquiry.pdf">Enquiry Concerning Human Understanding</a></li>
    <li><a href="/pdfs/Web-Guide-for-Second-Enquiry.pdf">Enquiry Concerning the Principles of Morals</a></li>
  </ul>
  <p>The tool below can be used to look up page numbers or paragraph IDs. Simply enter the page/ID in the appropriate box and press ENTER/RETURN, and the corresponding ID/page will be updated automatically.</p>
  <table class="parallel-references">
    <thead>
      <tr>
        <th></th>
        <th style="width:60%">Paragraph ID(s)</th>
        <th>SBN Page</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Treatise</th>
        <td><input type="text" placeholder="e.g. THN Intro.3, THN 1.2.1.1, THN App.12" id="treatise-id"></td>
        <td><input type="text" id="treatise-page"></td>
      </tr>
      <tr>
        <th>Enquiries</th>
        <td><input type="text" placeholder="e.g. EHU 3.2, EPM 4.5, EPM App2.12, EPM D.4" id="enquiries-id"></td>
        <td><input type="text" id="enquiries-page"></td>
      </tr>
    </tbody>
  </table>
{% endblock %}
