<div class="inline-form">
  {{ form_start(reviewInvitationForm) }}
    {{ form_row(reviewInvitationForm.reviewer) }}
    <button type="submit" class="create">Invite to Review</button>
  {{ form_end(reviewInvitationForm) }}
</div>
