<div class="inline-form">
  {{ form_start(uploadForm ) }}
    {{ form_row(uploadForm.file) }}
    {{ form_row(uploadForm._token) }}
    <div class="buttons">
      <button type="submit" class="button create"><i class="fas fa-plus"></i> Upload File</button>
    </div>
  {{ form_end(uploadForm) }}
</div>
<p>When uploading a file, note that certain associations are automatically created for you. If you upload a file called 'CFP.pdf' or 'cfp.html', this will serve as the call for papers for that conference. If you upload a file called 'splash.jpg', 'splash.gif', or 'splash.png', this image will be displayed in the box for this conference on the home page and the forthcoming conferences page. If you upload a file called 'program.pdf' or 'program.html', this will serve as the conference program. Finally, if you upload a file called 'index.html', this will serve as the home page of the conference web site. Any other HTML file can be uploaded here and linked to from that home page; in this way, a local archive of the conference web site can be created for posterity.</p>
