{{ form_start(uploadForm ) }}
  <div class="input">
    {{ form_row(uploadForm.file) }}
    {{ form_row(uploadForm._token) }}
  </div>
  <div class="input">
    <button type="submit" class="button create"><i class="fas fa-plus"></i> Upload Image</button>
  </div>
{{ form_end(uploadForm) }}
