<ul>
  <li>{% verbatim %}{{ ordinal }}{% endverbatim %} - the ordinal of the current conference</li>
  <li>{% verbatim %}{{ town }}{% endverbatim %} - the town of the current conference</li>
  <li>{% verbatim %}{{ country }}{% endverbatim %} - the country of the current conference</li>
</ul>
