{% extends 'site/account/_layout.twig' %}

{% block title %}Personal Information{% endblock %}

{% block main %}
  <div class="section content">
    <h1>Personal Information</h1>
    {% if app.user.member %}
      <nav class="tabs">
        <a data-tab="contact-details"{% if tab == 'details' %} class="is-active"{% endif %}>Contact Details</a>
        <a data-tab="membership-settings"{% if tab == 'settings' %} class="is-active"{% endif %}>Membership Settings</a>
      </nav>
      <div class="tab-panes">
        <div class="tab-pane{% if tab == 'details' %} is-active{% endif %}" id="contact-details">
          {% include 'form/user/details.html.twig' with { 'form': userDetailsForm } %}
        </div>
        <div class="tab-pane{% if tab == 'settings' %} is-active{% endif %}" id="membership-settings">
          {% include 'form/user/settings.html.twig' with { 'form': userSettingsForm } %}
        </div>
      </div>
    {% else %}
      {% include 'form/user/details.html.twig' with { 'form': userDetailsForm } %}
    {% endif %}
  </div>
{% endblock %}
