{% extends 'site/account/_layout.twig' %}

{% block main %}
  <div class="section content">
    {% embed 'site/_embed/heading.twig' %}{% endembed %}
    {% if completed %}
      <p>Thank you for your payment. Your dues are now paid until {{ app.user.dues|date('F Y') }}.</p>
    {% else %}
      <p>There was an error processing your payment. Please try again later, and contact <a href="mailto:web@humesociety.org">web@humesociety.org</a> if the problem persists.</p>
    {% endif %}
  </div>
{% endblock %}
