{% extends 'site/account/_layout.twig' %}

{% block title %}Pay Dues{% endblock %}

{% block main %}
  <div class="section content">
  <h1>{% if app.user.member %}Pay Dues{% else %}Join the Society{% endif %}</h1>
    {% if app.user.lifetimeMember %}
      <p>You have a lifetime membership to the Hume Society. Dues payments are not required.</p>
    {% elseif app.user.memberInGoodStanding %}
      <p>Your dues are paid up to {{ app.user.dues | date('F Y') }}. You can pay your next dues here two months before your current membership expires.</p>
    {% elseif app.user.member %}
      <p>Your dues lapsed on {{ app.user.dues | date('m/Y') }}. To receive the benefits of Hume Society membership, including access to restricted parts of this site and a subscription to the journal <i>Hume Studies</i>, please pay your dues using the form below.</p>
    {% else %}
      <p>Thank you for creating an account on this site. To complete your registration and become a member of the Hume Society, please pay your dues using the form below.</p>
    {% endif %}
    {% if payable %}
      <p>The Hume Society does not collect or store any credit or debit card information. Dues payments are collected online through <a href="https://www.paypal.com">PayPal</a>, a safe and secure method of payment accepting most major credit and debit cards. It is not necessary to have an account with PayPal in order to pay.</p>
      <form>
      <div>
        <select id="duration">
          <option value="1">1 year</option>
          <option value="2">2 years</option>
          <option value="5">5 years</option>
        </select>
      </div>
      <div class="columns has-checkboxes">
        <div class="column has-checkbox">
          <div>
            <input type="radio" name="membership" checked="checked" id="regular">
            <label for="regular">Regular Membership</label>
          </div>
        </div>
        <div class="column has-checkbox">
          <div>
            <input type="radio" name="membership" id="student">
            <label for="student">Student Membership</label>
          </div>
        </div>
      </div>
      </form>
      <div class="columns checkout">
        <div class="column">
          <table>
            <thead><tr><th>Total</th></tr></thead>
            <tbody><tr><td id="total">$35</td></tr></tbody>
          </table>
        </div>
        <div class="column">
          <div id="paypal-buttons"></div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
