{% extends 'site/account/_layout.twig' %}

{% block title %}Submissions &amp; Reviews{% endblock %}

{% block main %}
  <div class="section content">
    <h1>Submissions &amp; Reviews</h1>
    <nav class="tabs">
      <a data-tab="availability"{% if tab == 'availability' %} class="is-active"{% endif %}>Availability</a>
      <a data-tab="submissions"{% if tab == 'submissions' %} class="is-active"{% endif %}>Submissions</a>
      <a data-tab="reviews"{% if tab == 'reviews' %} class="is-active"{% endif %}>Reviews</a>
    </nav>
    <div class="tab-panes">
      <div class="tab-pane{% if tab == 'availability' %} is-active{% endif %}" id="availability">
        {% include 'site/_form/user-availability.twig' %}
      </div>
      <div class="tab-pane{% if tab == 'submissions' %} is-active{% endif %}" id="submissions">
        {% if conference %}
          {% include 'site/_include/conference-submissions.twig' %}
        {% else %}
          <p>There is no forthcoming Hume Conference.</p>
        {% endif %}
      </div>
      <div class="tab-pane{% if tab == 'reviews' %} is-active{% endif %}" id="reviews">
        {% if conference %}
          {% include 'site/_include/conference-reviews.twig' %}
        {% else %}
          <p>There is no forthcoming Hume Conference.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
