{% extends 'admin/_layout-content.twig' %}

{% block title %}Create News Item{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Create News Item{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_news-item_index') }}" class="button" data-menu="news_item_category"><i class="fas fa-chevron-left"></i> Back to News Item List</a>
      </div>
    {% endblock %}
    {% block body %}
      {% include 'admin/_form/news-item/create.twig' %}
    {% endblock %}
  {% endembed %}
{% endblock %}
