{% extends 'admin/content/_layout.twig' %}

{% block title %}Delete Conference{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Delete the {{ conference }}{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_content_conference_view') }}" class="button"><i class="fas fa-chevron-left"></i> Back to Conference List</a>
      </div>
    {% endblock %}
    {% block body %}
      {% include 'admin/_include/conference/delete.twig' %}
    {% endblock %}
  {% endembed %}
{% endblock %}
