{% extends 'admin/content/_layout.twig' %}

{% block title %}Delete Conference File{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Delete {{ filename }} ({{ conference }}){% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_content_conference_edit', { id: conference.id, tab: 'files' }) }}" class="button"><i class="fas fa-chevron-left"></i> Back to Conference {{ conference.number }}</a>
      </div>
    {% endblock %}
    {% block body %}
      {% include 'admin/_include/conference-file/delete.twig' %}
    {% endblock %}
  {% endembed %}
{% endblock %}
