{% extends 'admin/journal/_layout.twig' %}

{% block title %}User Details{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Mailing Addresses for Members receiving <i>Hume Studies</i>{% endblock %}
    {% block header_right %}
    {% endblock %}
    {% block body %}
      {% if users|length > 0 %}
        {% for user in users %}
          {% if user.mailingAddress %}
            <pre>{{ user.mailingAddress }}</pre>
          {% else %}
            <pre>{{ user }}</pre>
          {% endif %}
        {% endfor %}
      {% else %}
        <p>There are no members who have elected to recieve a copy of <i>Hume Studies</i> in the database.</p>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
