.tabs {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid $grey;
  a {
    padding: .5em 1em;
    cursor: pointer;
    color: darken($grey, 25%);
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    &:hover, &.is-active {
      text-decoration: none;
      border-color: $green;
      color: $green;
    }
  }
}

.tab-panes {
  .tab-pane {
    display: none;
    &.is-active {
      display: block;
    }
    a {
      cursor: pointer;
    }
  }
}

.volume {}

.context {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  a {
    flex-basis: 8em;
  }
  a:nth-child(2) {
    text-align: center;
  }
  a:nth-child(3) {
    text-align: right;
  }
}

.article {
  padding: 1em;
  border-top: 1px solid $grey;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: .5em;
    h5 {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 0;
      margin-right: 1em;
    }
    .archive-link {
      white-space: nowrap;
    }
  }
  .author, .pages, .doi {
    margin-bottom: 0;
  }
}
