{% extends 'site/account/_layout.twig' %}

{% block main %}
  {% embed 'site/_embed/heading.twig' %}
    {% block right %}
      {% if conference %}
        {% if conference.open or app.user.submissions(conference)|length > 0 %}
          <nav class="tabs">
            <a href="{{ path('account_research') }}"{% if tab == 'availability' %} class="is-active"{% endif %}>Availability</a>
            <a href="{{ path('account_research_submissions') }}"{% if tab == 'submissions' %} class="is-active"{% endif %}>Submissions</a>
          </nav>
        {% endif %}
      {% endif %}
    {% endblock %}
  {% endembed %}
  {% block content %}{% endblock %}
{% endblock %}
