{% if invitation.accepted %}
  {% set count = invitation.submissionReminderEmails %}
  {% set date = invitation.dateLastSubmissionReminderSent %}
{% else %}
  {% set count = invitation.invitationReminderEmails %}
  {% set date = invitation.dateLastInvitationReminderSent %}
{% endif %}
<p>{{ count }} reminder{% if count != 1 %}s{% endif %} sent</p>
{% if count > 0 %}
  <p>last reminder: {{ date|date('m/d/Y') }}</p>
{% endif %}
