{% extends 'admin/content/_layout.twig' %}

{% block title %}Edit Page{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Edit Page: {{ page }}{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_content_page_view') }}" class="button" data-menu="page_section"><i class="fas fa-chevron-left"></i> Back to Page List</a>
      </div>
    {% endblock %}
    {% block body %}
      <nav class="tabs">
        <a data-tab="edit" class="is-active">Edit</a>
        <a data-tab="preview">Preview</a>
      </nav>
      <div class="tab-pane is-active" id="edit">
        {% include 'admin/_include/page/create-update.twig' %}
      </div>
      <div class="tab-pane" id="preview">
        {% include 'admin/_include/page/preview.twig' %}
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
