<div class="inline-form">
  {{ form_start(invitationExistingForm) }}
    {{ form_row(invitationExistingForm.user) }}
    {{ form_row(invitationExistingForm._token) }}
    <div class="buttons">
      <button type="submit" class="create">Invite Existing User</button>
    </div>
  {{ form_end(invitationExistingForm) }}
