{% extends 'admin/conference/_layout.twig' %}

{% block title %}Invited Papers{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Invited Papers{% endblock %}
    {% block body %}
      <h2>Invite a Speaker</h2>
      {% include 'admin/_form/invitation-existing.twig' %}
      {% include 'admin/_form/invitation-new.twig' %}
      <h2>Current Invited Speakers</h2>
      {% include 'admin/conference/paper/_list.twig' %}
    {% endblock %}
  {% endembed %}
{% endblock %}
