{% extends 'conference/_layout-users.twig' %}

{% block title %}Create Invited User{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Create an Invited User{% endblock %}
    {% block header_right %}
      <a href="{{ path('conference_user_index') }}" class="button create"><i class="fas fa-chevron-left"></i> Back to All Users</a>
    {% endblock %}
    {% block body %}
      <p>notes...</p>
      {% include 'conference/_form/user/create.twig' %}
    {% endblock %}
  {% endembed %}
{% endblock %}
