{% extends 'admin/_layout-members.twig' %}

{% block title %}Delete Member's Account{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Delete Member's Account: {{ user }}{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_member_index') }}" class="button"><i class="fas fa-chevron-left"></i> Back to Members List</a>
      </div>
    {% endblock %}
    {% block body %}
      {% include 'admin/_form/member/delete.twig' %}
    {% endblock %}
  {% endembed %}
{% endblock %}
