{% extends 'admin/_layout-members.twig' %}

{% block title %}Member Details{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Edit Details for {{ user.username }}{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_member_index') }}" class="button"><i class="fas fa-chevron-left"></i>Back to Member List</a>
      </div>
    {% endblock %}
    {% block body %}
      {% include 'admin/_form/member/update.twig' %}
    {% endblock %}
  {% endembed %}
{% endblock %}
