{% if chairs|length > 0 %}
  <div class="chairs">
    {% for user in chairs %}
      <div class="chair">
        <h4>{{ user }}</h4>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No chairs.</p>
{% endif %}
