{% if commentators|length > 0 %}
  <div class="reviewers">
    {% for user in commentators %}
      <div class="reviewer">
        <h4>{{ user }}</h4>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No commentators.</p>
{% endif %}
