{% if reviewers|length > 0 %}
  <div class="reviewers">
    {% for user in reviewers %}
      <div class="reviewer">
        <h4>{{ user }}</h4>
        <ul>
        {% for review in user.reviews(conference) %}
          <li>{{ review }} - {{ review.status }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No reviewers have yet been assigned to the submissions for this conference.</p>
{% endif %}
