{% if speakers|length > 0 %}
  <div class="speakers">
    {% for user in speakers %}
      <div class="speaker">
        <h4>{{ user }}</h4>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No speakers.</p>
{% endif %}
