{% extends 'admin/conference/_layout.twig' %}

{% block title %}Conference Volunteers{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Conference Volunteers{% endblock %}
    {% block body %}
      <p>Users of this web site have the option to indicate their availability to act as reviewers, commentators, or chairs. In inviting people to perform these roles, you are not limited to those who have actively volunteered, but these will presumably be a good place to start. When indicating their availability, users are also required to submit a comma-separated list of keywords representing their areas of expertise.</p>
      <nav class="tabs">
        <a data-tab="reviewers"{% if tab == 'reviewers' %} class="is-active"{% endif %}>Reviewers</a>
        <a data-tab="commentators"{% if tab == 'commentators' %} class="is-active"{% endif %}>Commentators</a>
        <a data-tab="chairs"{% if tab == 'chairs' %} class="is-active"{% endif %}>Chairs</a>
        <a data-tab="speakers"{% if tab == 'chairs' %} class="is-active"{% endif %}>Invited Speakers</a>
        <a data-tab="active"{% if tab == 'active' %} class="is-active"{% endif %}>Active Users</a>
      </nav>
      <div class="tab-pane{% if tab == 'reviewers' %} is-active{% endif %}" id="reviewers">
        {% include 'admin/conference/volunteer/_reviewers.twig' %}
      </div>
      <div class="tab-pane{% if tab == 'commentators' %} is-active{% endif %}" id="commentators">
        {% include 'admin/conference/volunteer/_commentators.twig' %}
      </div>
      <div class="tab-pane{% if tab == 'chairs' %} is-active{% endif %}" id="chairs">
        {% include 'admin/conference/volunteer/_chairs.twig' %}
      </div>
      <div class="tab-pane{% if tab == 'speakers' %} is-active{% endif %}" id="speakers">
        {% include 'admin/conference/volunteer/_speakers.twig' %}
      </div>
      <div class="tab-pane{% if tab == 'active' %} is-active{% endif %}" id="active">
        {% include 'admin/conference/volunteer/_active-users.twig' %}
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
