{% extends 'admin/conference/_layout.twig' %}

{% block title %}Conference Volunteers{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Conference Volunteers{% endblock %}
    {% block body %}
      <nav class="tabs">
        <a data-tab="review"{% if tab == 'review' %} class="is-active"{% endif %}>Reviewers</a>
        <a data-tab="comment"{% if tab == 'comment' %} class="is-active"{% endif %}>Commentators</a>
        <a data-tab="chair"{% if tab == 'chair' %} class="is-active"{% endif %}>Chairs</a>
      </nav>
      <div class="tab-pane{% if tab == 'review' %} is-active{% endif %}" id="review">
        {% if reviewers|length > 0 %}
          <p>The following users have indicated a willingness to recieve invitations to review papers for the Hume Conference or Hume Studies.</p>
          {% include 'admin/_include/conference/volunteers.twig' with { users: reviewers } %}
        {% else %}
          <p>No one in the database has indicated a willingness to review papers for the Hume Conference or Hume Studies.</p>
        {% endif %}
      </div>
      <div class="tab-pane{% if tab == 'comment' %} is-active{% endif %}" id="comment">
        {% if commentators|length > 0 %}
          <p>The following users have indicated a willingness to comment on a paper at the {{ conference }}.</p>
          {% include 'admin/_include/conference/volunteers.twig' with { users: commentators } %}
        {% else %}
          <p>No one in the database has indicated a willingness to comment on a paper at the {{ conference }}.</p>
        {% endif %}
      </div>
      <div class="tab-pane{% if tab == 'chair' %} is-active{% endif %}" id="chair">
        {% if chairs|length > 0 %}
          <p>The following users have indicated a willingness to chair a session at the {{ conference }}.</p>
          {% include 'admin/_include/conference/volunteers.twig' with { users: chairs } %}
        {% else %}
          <p>No one in the database has indicated a willingness to chair a session at the {{ conference }}.</p>
        {% endif %}
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
