{% extends 'admin/conference/_layout.twig' %}

{% block title %}Delete File{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Delete {{ filename }} ({{ conference }}){% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_conference_details_index', { tab: 'files' }) }}" class="button"><i class="fas fa-chevron-left"></i> Back to Conference Details</a>
      </div>
    {% endblock %}
    {% block body %}
      {% include 'admin/_include/conference-file/delete.twig' %}
    {% endblock %}
  {% endembed %}
{% endblock %}
