{% extends 'admin/conference/_layout.twig' %}

{% block title %}Conference Details{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Conference Details{% endblock %}
    {% block body %}
      <nav class="tabs">
        <a data-tab="details"{% if tab == 'details' %} class="is-active"{% endif %}>Details</a>
        <a data-tab="files"{% if tab == 'files' %} class="is-active"{% endif %}>Files</a>
        <a data-tab="deadline"{% if tab == 'deadline' %} class="is-active"{% endif %}>Submission Deadline</a>
      </nav>
      <div class="tab-pane{% if tab == 'details' %} is-active{% endif %}" id="details">
        {% include 'admin/_include/conference/create-update.twig' with { hideBasics: true } %}
      </div>
      <div class="tab-pane{% if tab == 'files' %} is-active{% endif %}" id="files">
        {% include 'admin/_include/conference-file/upload.twig' %}
        {% if conference.uploads|length > 0 %}
          {% include 'admin/_include/conference-file/list.twig' %}
        {% else %}
          <p>There are no files associated with this conference.</p>
        {% endif %}
      </div>
      <div class="tab-pane{% if tab == 'deadline' %} is-active{% endif %}" id="deadline">
        {% include 'admin/_include/conference/deadline.twig' %}
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
