{% extends 'site/invitation/_layout.twig' %}

{% block main %}
  {% embed 'site/_embed/heading.twig' %}{% endembed %}
  <p>Your review has been submitted.</p>
  {% if reviewThanks is defined %}{{ reviewThanks|raw }}{% endif %}
{% endblock %}
