{% extends 'admin/base.twig' %}

{% block sidebar %}
  <div class="inner-header">
    <a href="{{ path('admin_email_index') }}"{% if subarea == 'email' %} class="is-active"{% endif %}>
      <span class="icon"><i class="far fa-envelope"></i></span>
      <span class="link-text">Emails</span>
    </a>
  </div>
{% endblock %}
