<table class="loading" id="reports">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for report in reports %}
      <tr data-year="{{ report.subpath }}">
        <td><a href="{{ report.url }}">{{ report.name }}</a></td>
        <td class="controls">
          <a href="{{ path('admin_society_report_delete', { year: report.subpath, filename: report.filename }) }}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
