{% extends 'admin/conference/_layout.twig' %}

{% block title %}Edit Email Template{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Edit {{ text }} Text{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_conference_text_index') }}" class="button"><i class="fas fa-chevron-left"></i>Back to Custom Text List</a>
      </div>
    {% endblock %}
    {% block body %}
      <nav class="tabs">
        <a data-tab="edit" class="is-active">Edit</a>
        <a data-tab="preview">Preview</a>
      </nav>
      <div class="tab-pane is-active" id="edit">
        {% include 'admin/conference/text/_update.twig' %}
      </div>
      <div class="tab-pane" id="preview">
        {% include 'admin/conference/text/_preview.twig' %}
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
