{% extends 'admin/conference/_layout.twig' %}

{% block title %}Custom Text{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Custom Text{% endblock %}
    {% block body %}
      <p>From here you can edit some of the text that appears to users and reviewers on this site. Text should be marked up as HTML; if you are unfamiliar with HTML, please ask the technical director for help formatting this text appropriately.</p>
      {% for text in texts %}
        <h4><a href="{{ path('admin_conference_text_edit', { label: text.label }) }}">Edit {{ text.title }} Text</a></h4>
        <p>{{ text.description }}</p>
      {% endfor %}
    {% endblock %}
  {% endembed %}
{% endblock %}
