{% if reviewers|length > 0 %}
  <p>The following users have indicated a willingness to recieve invitations to review papers for the Hume Conference or Hume Studies. You can create reviewer records for any that do not have one here.</p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Areas of expertise</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in reviewers %}
        <tr>
          <td>{{ user }}</td>
          <td>{{ user.keywords }}</td>
          <td class="controls">
            {% if user.reviewer == null %}
              <a href="{{ path('admin_conference_volunteer_create_reviewer', { user: user.id }) }}">add to reviewers</a>
            {% else %}
              reviewer
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No one in the database has indicated a willingness to review papers for the Hume Conference or Hume Studies.</p>
{% endif %}
