<p>Are you sure you want to delete this member's account? This action cannot be undone!</p>
{{ form_start(deleteForm) }}
  {{ form_row(deleteForm._token) }}
  <div class="buttons">
    <button type="submit" class="button delete">Delete</button>
  </div>
{{ form_end(deleteForm) }}
