{% extends 'admin/conference/_layout.twig' %}

{% block title %}Submission Details{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}{{ submission }}{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_conference_submission_index') }}" class="button"><i class="fas fa-chevron-left"></i>Back to Submissions</a>
      </div>
    {% endblock %}
    {% block body %}
      <nav class="tabs">
        <a data-tab="submission"{% if tab == 'submission' %} class="is-active"{% endif %}>Submission</a>
        <a data-tab="reviews"{% if tab == 'reviews' %} class="is-active"{% endif %}>Reviews</a>
        <a data-tab="decision"{% if tab == 'decision' %} class="is-active"{% endif %}>Decision</a>
      </nav>
      <div class="tab-pane{% if tab == 'submission' %} is-active{% endif %}" id="submission">
        {% include 'admin/_include/submission/details.twig' %}
      </div>
      <div class="tab-pane{% if tab == 'reviews' %} is-active{% endif %}" id="reviews">
        {% if reviewers|length > 0 %}
          {% include 'admin/_include/review/create.twig' %}
        {% else %}
          <p>There are no active reviewers in the database. Please visit the <a href="{{ path('admin_conference_reviewer_index') }}">Reviewers</a> section to create some before coming back here.</p>
        {% endif %}
        {% if submission.reviews|length > 0 %}
          {% include 'admin/_include/review/list.twig' %}
        {% else %}
          <p>There are no reviews for this submission. Use the form above to invite someone to review.</p>
        {% endif %}
      </div>
      <div class="tab-pane{% if tab == 'decision' %} is-active{% endif %}" id="decision">
        <p>TODO</p>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
