{% extends 'admin/conference/_layout.twig' %}

{% block title %}Submissions{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Conference Submissions{% endblock %}
    {% block header_right %}
      {% if conference.submissions|length > 0 %}
        <div class="input">
          <label for="show-keyword">Keyword:</label>
          <select id="show-keyword" data-include="keyword" data-table="submissions">
            <option value="all">all</option>
            {% for keyword in keywords %}
              <option value="{{ keyword }}">{{ keyword }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input">
          <label for="show-status">Status:</label>
          <select id="show-status" data-filter="status" data-table="submissions">
            <option value="all">all</option>
            <option value="submitted">submitted</option>
            <option value="accepted">accepted</option>
            <option value="rejected">rejected</option>
          </select>
        </div>
      {% endif %}
    {% endblock %}
    {% block body %}
      {% if conference.submissions|length > 0 %}
        {% include 'admin/_include/submission/list.twig' %}
      {% else %}
        <p>There are no submissions for this conference.</p>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
