.reviews {
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;
  margin-bottom: 1em;
  .review {
    padding: 1em;
    border-left: 3px solid transparent;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    margin-bottom: -1px;
    &:hover {
      background: lighten($grey, 12%);
      border-left-color: $green;
    }
    .heading {
      display: flex;
      align-items: baseline;
      h5 {
        flex: 1;
      }
      p {
        padding: 0 .5em;
      }
      a {
        padding: .125em .5em;
      }
    }
    .feedback {
    }
  }
}
