.submissions {
  border-left: 1px solid $grey;
  border-right: 1px solid $grey;
  margin-bottom: 1em;
  .submission {
    padding: 1em;
    border-left: 3px solid transparent;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    margin-bottom: -1px;
    &:hover {
      background: lighten($grey, 12%);
      border-left-color: $green;
    }
    .heading {
      display: flex;
      align-items: baseline;
      h5 {
        flex: 1;
        margin-bottom: 0;
      }
      p {
        padding: 0 .5em;
        margin-bottom: 0;
      }
    }
    .authors {
      margin-bottom: .5em;
    }
    .keywords {
      input {
        margin: 0;
      }
    }
  }
}
