{% extends 'admin/society/_layout.twig' %}

{% block title %}Election Candidates{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Election Candidates for {{ election.year }}{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_society_election_index', { decade: election.decade }) }}" class="button"><i class="fas fa-chevron-left"></i>Back to Election List</a>
      </div>
    {% endblock %}
    {% block body %}
      <p>The list of candidates for each election is generated automatically, according to the candidate's term of office. Any candidate whose (potential) term is recorded as starting in 2020, for example, will automatically be entered into the election for 2020.</p>
      {% if candidates %}
        {% include 'admin/_include/candidate/list.twig' %}
      {% else %}
        <p>There are no candidates for this election. To add some, use the <a href="{{ path('admin_society_candidate_create') }}">Create Candidate</a> form to create a candidate whose start year coincides with the year of this election.</p>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
