{% extends 'admin/society/_layout.twig' %}

{% block title %}Delete Election{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Delete Election for {{ election.year }}{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_society_election_view', { decade: election.decade }) }}" class="button"><i class="fas fa-chevron-left"></i>Back to Election List</a>
      </div>
    {% endblock %}
    {% block body %}
      {% include 'admin/_include/election/delete.twig' %}
    {% endblock %}
  {% endembed %}
{% endblock %}
