{% extends 'admin/society/_layout.twig' %}

{% block title %}Delete Election{% endblock %}

{% block main %}
  <div class="box content">
    <div class="heading">
      <h5>Delete Election for {{ election.year }}</h5>
      <div class="heading-right">
        <a href="{{ path('admin_society_election_view', { decade: election.decade }) }}" class="button"><i class="fas fa-chevron-left"></i>Back to Election List</a>
      </div>
    </div>
    <p>Are you sure you want to delete this election from the database? This action cannot be undone!</p>
    {{ form_start(electionForm) }}
      <div class="buttons">
        <button type="submit">Delete</button>
      </div>
    {{ form_end(electionForm) }}
  </div>
{% endblock %}
