<ul>
  <li>{% verbatim %}{{ firstname }}{% endverbatim %} - the recipient’s firstname</li>
  <li>{% verbatim %}{{ lastname }}{% endverbatim %} - the recipient’s lastname</li>
  <li>{% verbatim %}{{ email }}{% endverbatim %} - the recipient’s email address</li>
  <li>{% verbatim %}{{ username }}{% endverbatim %} - the recipient’s username</li>
</ul>
