{{ form_start(textForm) }}
  {{ form_row(textForm.content) }}
  {{ form_row(textForm._token) }}
  <div class="buttons">
    <button type="submit" class="button update">Update</button>
  </div>
{{ form_end(textForm) }}
