{% extends 'site/security/_layout.twig' %}

{% block title %}Forgot Details{% endblock %}

{% block main %}
  <div class="section content">
    <h1>Forgot Details</h1>
    <p>If you have forgotten your login credentials, please enter your email address below. You will be sent an email containing your username, and a link to reset your password.</p>
    {{ form_start(userForgotPasswordForm) }}
      {{ form_row(userForgotPasswordForm.email) }}
      {{ form_row(userForgotPasswordForm._token) }}
      <div class="buttons">
        <button type="submit" class="button is-success">Email Me</button>
      </div>
    {{ form_end(userForgotPasswordForm) }}
  </div>
{% endblock %}
