{% extends 'site/security/_layout.twig' %}

{% block title %}Forgot Details{% endblock %}

{% block main %}
  <div class="section content">
    <h1>Forgot Details</h1>
    {% include 'site/_form/forgot-password.twig' %}
  </div>
{% endblock %}
