{% extends 'site/security/_layout.twig' %}

{% block main %}
  <div class="section content">
    {% embed 'site/_embed/heading.twig' %}{% endembed %}
    {% include 'site/_form/reset-password.twig' %}
  </div>
{% endblock %}
