{% extends 'admin/society/_layout.twig' %}

{% block title %}Upload Report{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Upload Report{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_society_report_view', { year: year }) }}" class="button"><i class="fas fa-chevron-left"></i>Back to Report List</a>
      </div>
    {% endblock %}
    {% block body %}
      {% include 'admin/_include/report/upload.twig' %}
    {% endblock %}
  {% endembed %}
{% endblock %}
