{% extends 'admin/society/_layout.twig' %}

{% block title %}Society Minutes and Reports{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Society Minutes and Reports{% endblock %}
    {% block header_right %}
      {% if reports|length > 0 %}
        <div class="input">
          <label for="show-year">Year:</label>
          <select id="show-year" data-filter="year" data-table="reports">
            {% for y in years|reverse %}
              <option value="{{ y }}"{% if y == year %} selected="selected"{% endif %}>{{ y }}</option>
            {% endfor %}
          </select>
        </div>
      {% endif %}
      <div class="input">
        <a href="{{ path('admin_society_report_upload') }}" class="button create" data-menu="show-year"><i class="fas fa-plus"></i>Upload Report</a>
      </div>
    {% endblock %}
    {% block body %}
      <p>Here you can upload society minutes and reports. These will be available for members to download from any page with the <em>Society Minutes and Reports</em> template.</p>
      {% if reports|length > 0 %}
        {% include 'admin/_include/report/list.twig' %}
      {% else %}
        <p>There are no reports in the database.</p>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
