{% extends 'admin/base.twig' %}

{% block sidebar %}
  <div class="inner-header">
    <a href="{{ path('admin_conference_details_index') }}"{% if subarea == 'details' %} class="is-active"{% endif %}>
      <span class="icon"><i class="far fa-file-alt"></i></span>
      <span class="link-text">Conference Details</span>
    </a>
    <a href="{{ path('admin_conference_email_index') }}"{% if subarea == 'email' %} class="is-active"{% endif %}>
      <span class="icon"><i class="far fa-envelope"></i></span>
      <span class="link-text">Emails</span>
    </a>
    <a href="{{ path('admin_conference_volunteer_index') }}"{% if subarea == 'volunteer' %} class="is-active"{% endif %}>
      <span class="icon"><i class="fas fa-hands-helping"></i></span>
      <span class="link-text">Volunteers</span>
    </a>
    <a href="{{ path('admin_conference_submission_index') }}"{% if subarea == 'submission' %} class="is-active"{% endif %}>
      <span class="icon"><i class="far fa-file-word"></i></span>
      <span class="link-text">Submissions</span>
    </a>
  </div>
{% endblock %}
