<table>
  <thead>
    <tr>
      <th style="width:100%">Filename</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for upload in conference.uploads %}
      <tr>
        <td>
          {{ upload.filename }}
          {% if upload == conference.splash %} (splash image){% endif %}
          {% if upload == conference.cfp %} (call for papers){% endif %}
          {% if upload == conference.program %} (program){% endif %}
          {% if upload == conference.site %} (web site index){% endif %}
        </td>
        <td class="controls">
          <a href="{{ upload.url }}">View</a>
          <a href="{{ path('admin_conference_delete_upload', { id: conference.id, filename: upload.filename }) }}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
