{% extends 'admin/base.twig' %}

{% block title %}Conference Details{% endblock %}

{% block main %}
  <div class="box content">
    <h5>No Current Conference</h5>
    <p>There is no current conference in the database. Please ask the EVPT or Technical Director to create one.</p>
  </div>
{% endblock %}
