<div class="inline-form">
  {{ form_start(finalSubmissionForm) }}
    {{ form_row(finalSubmissionForm.finalFile) }}
    {{ form_row(finalSubmissionForm._token) }}
    <div class="buttons">
      <button type="submit">Upload Final Version</button>
    </div>
  {{ form_end(finalSubmissionForm) }}
</div>
