{{ form_start(forgotCredentialsForm) }}
  <p>If you have forgotten your login credentials, please enter your email address below. You will be sent an email containing your username, and a link to reset your password.</p>
  {{ form_row(forgotCredentialsForm.email) }}
  {{ form_row(forgotCredentialsForm._token) }}
  <div class="buttons">
    <button type="submit" class="button is-success">Email Me</button>
  </div>
{{ form_end(forgotCredentialsForm) }}
