<form method="post">
  {% if error %}
    <div class="notification form error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}
  <div>
    <label for="inputUsername">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" required autofocus>
  </div>
  <div>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" required>
  </div>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
  <div class="buttons">
    <button type="submit">Sign In</button>
  </div>
  <br>
  <p><strong>Don’t have an account?</strong> Creating an account on this site is free and easy, and is necessary for submitting a paper to the Hume Conference. It is also a prerequisite for becoming a paying member of the Hume Society. Members have access to restricted parts of this site, including the full archive of <i>Hume Studies</i>, society elections and records, and special offers. <a href="{{ path('security_register') }}">Click here to sign up.</p></p>
</form>
