{{ form_start(userResetPasswordForm) }}
  {{ form_row(userResetPasswordForm.password) }}
  {{ form_row(userResetPasswordForm._token) }}
  <div class="buttons">
    <button type="submit">Reset Password</button>
  </div>
{{ form_end(userResetPasswordForm) }}
