{% extends 'site/invitation/_layout.twig' %}

{% block main %}
  {% embed 'site/_embed/heading.twig' %}{% endembed %}
  <p>You have declined the invitation to comment on this paper. Thank you for letting us know.</p>
{% endblock %}
