{% extends 'site/review/_layout.twig' %}

{% block main %}
  <h1>Review for “{{ review.submission }}”</h1>
  <p>You have declined the invitation to review this paper. Thank you for letting us know.</p>
{% endblock %}
