<p>{% verbatim %}The content of your email should be written in HTML (with &lt;p&gt; tags around each paragraph). Enclose variables in double curly brackets, e.g. {{ firstname }}, {{ lastname }}. These will be replaced with the appropriate value when the email is sent. A full list of variables is shown next to the email form below.{% endverbatim %}</p>
