<ul>
  <li>{% verbatim %}{{ firstname }}{% endverbatim %} - the recipient&rsquo;s firstname</li>
  <li>{% verbatim %}{{ lastname }}{% endverbatim %} - the recipient&rsquo;s lastname</li>
  <li>{% verbatim %}{{ email }}{% endverbatim %} - the recipient&rsquo;s email address</li>
  <li>{% verbatim %}{{ username }}{% endverbatim %} - the recipient&rsquo;s username</li>
</ul>
