{% extends 'admin/conference/_layout.twig' %}

{% block title %}Reviewers{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Reviewers{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_conference_reviewer_create') }}" class="button create"><i class="fas fa-plus"></i> Create Reviewer</a>
      </div>
    {% endblock %}
    {% block body %}
      {% if reviewers|length > 0 %}
        <p>In order to invite someone to review a paper, you must first create a reviewer record for them in the database. These records will remain here in perpetuity, helping subsequent conference organisers. Records can be created from current users, or alternatively by inputting a name and an email address by hand.</p>
        <p>Use the green ‘Create Reviewer’ button above to create a new reviewer record. You can also create records for users who have explicitly volunteered to review in the <a href="{{ path('admin_conference_volunteer_index') }}">Volunteers</a> section.</p>
        {% include 'admin/_include/reviewer/list.twig' %}
      {% else %}
        <p>There are no reviewers in the database.</p>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
