{% extends 'admin/society/_layout.twig' %}

{% block title %}User Statistics{% endblock %}

{% block main %}
  <div class="box content">
    <h5>User Statistics</h5>
    <div id="user-statistics">Analyzing data...</div>
  </div>
{% endblock %}
