{% extends 'admin/base.twig' %}

{% block sidebar %}
  <div class="inner-header">
    <a href="{{ path('admin_content_page_index') }}"{% if subarea == 'page' %} class="is-active"{% endif %}>
      <span class="icon"><i class="far fa-file-alt"></i></span>
      <span class="link-text">Pages</span>
    </a>
    <a href="{{ path('admin_content_image_index') }}"{% if subarea == 'image' %} class="is-active"{% endif %}>
      <span class="icon"><i class="far fa-image"></i></span>
      <span class="link-text">Images</span>
    </a>
    <a href="{{ path('admin_content_news-item_index') }}"{% if subarea == 'news-item' %} class="is-active"{% endif %}>
      <span class="icon"><i class="far fa-newspaper"></i></span>
      <span class="link-text">News Items</span>
    </a>
  </div>
{% endblock %}
