{% extends 'conference/base.twig' %}

{% block sidebar %}
  <div class="inner-header">
    <a href="{{ path('conference_submission_index') }}"{% if subarea == 'submission' %} class="is-active"{% endif %}>
      <span class="icon"><i class="far fa-file-word"></i></span>
      <span class="link-text">Submissions</span>
    </a>
    <a href="{{ path('conference_paper_index') }}"{% if subarea == 'paper' %} class="is-active"{% endif %}>
      <span class="icon"><i class="fas fa-microphone"></i></span>
      <span class="link-text">Invited Papers</span>
    </a>
  </div>
{% endblock %}
