{% extends 'site/base.twig' %}

{% block title %}Access Forbidden{% endblock %}

{% block main %}
  <h1>Access Forbidden</h1>
  <p>You do not have permission to access this resource.</p>
{% endblock %}
