<p>Are you sure you want to delete this election from the database? This action cannot be undone!</p>
{{ form_start(electionForm) }}
  <div class="buttons">
    <button type="submit" class="button delete">Delete</button>
  </div>
{{ form_end(electionForm) }}
