{% extends 'admin/conference/_layout.twig' %}

{% block title %}Edit Email Template{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Edit {{ conference_email_templates[emailTemplate.type].title }} Email{% endblock %}
    {% block header_right %}
      <div class="input">
        <a href="{{ path('admin_conference_email_view') }}" class="button"><i class="fas fa-chevron-left"></i>Back to Emails</a>
      </div>
    {% endblock %}
    {% block body %}
      <nav class="tabs">
        <a class="is-active" data-tab="edit">Edit</a>
        <a data-tab="preview">Preview</a>
        <a data-tab="help">Help</a>
      </nav>
      <div class="tab-pane is-active" id="edit">
        {% include 'admin/_include/email/edit.twig' %}
      </div>
      <div class="tab-pane" id="preview">
        {% include 'admin/_include/email/preview.twig' %}
      </div>
      <div class="tab-pane" id="help">
        {% include 'admin/_include/email/help.twig' %}
        {% include 'admin/_include/email/user-variables.twig' %}
        {% include 'admin/_include/email/submission-variables.twig' %}
        {% include 'admin/_include/email/conference-variables.twig' %}
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
