{% extends 'admin/conference/_layout.twig' %}

{% block title %}Emails{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Conference Emails{% endblock %}
    {% block body %}
      {% for template in conferenceEmailTemplates %}
        <h4><a href="{{ path('admin_conference_email_edit', { label: template.label }) }}">Edit {{ template.title }} Email</a></h4>
        <p>{{ template.description }}</p>
      {% endfor %}
    {% endblock %}
  {% endembed %}
{% endblock %}
