{% extends 'admin/conference/_layout.twig' %}

{% block title %}Email Templates{% endblock %}

{% block main %}
  <div class="box content">
    <div class="heading">
      <h5>Email Templates</h5>
    </div>
  </div>
{% endblock %}
