{% extends 'admin/conference/_layout.twig' %}

{% block title %}Emails{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
  {% block title %}Bulk Emails{% endblock %}
    {% block body %}
      <p>From here you will be able to send out bulk emails (e.g. informing everyone of the decision reached regarding their paper). However, this functionality is not yet available.</p>
    {% endblock %}
  {% endembed %}
{% endblock %}
