<div class="box">
  <div class="box-header">
    <h1>{% block title %}{% endblock %}</h1>
    <div class="box-header-right">
      {% block header_right %}
      {% endblock %}
    </div>
  </div>
  <div class="box-body content">
    {% block body %}{% endblock %}
  </div>
</div>
