{% extends 'email/base.twig' %}

{% block image %}{{ image }}{% endblock %}

{% block content %}
  <p>{{ review.reviewer }} has accepted the invitation to review the paper &ldquo;{{ review.submission }}&rdquo;.</p>
{% endblock %}
