{% extends 'admin/content/_layout.twig' %}

{% block title %}Images{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Images{% endblock %}
    {% block header_right %}
      {{ form_start(uploadForm ) }}
        <div class="input">
          {{ form_row(uploadForm.file) }}
          {{ form_row(uploadForm._token) }}
        </div>
        <div class="input">
          <button type="submit" class="button create"><i class="fas fa-plus"></i> Upload Image</button>
        </div>
      {{ form_end(uploadForm) }}
    {% endblock %}
    {% block body %}
      <p>Any image files uploaded here will be available to use in the pages on this site. To display an image, use the code <code>&lt;img src="/uploads/images/filename"&gt;</code> in the content of the page.
      {% if images %}
        {% include 'admin/_include/image/list.twig' %}
      {% else %}
        <p>There are no images in the database.</p>
      {% endif %}
    {% endblock %}
  {% endembed %}
{% endblock %}
