{% extends 'site/home/_layout.twig' %}

{% block main %}
  <div class="columns">
    <div class="column">
      <h3>Society News</h3>
      {% if newsItems %}
        {% for item in newsItems %}
          <h4>{{ item.title }}</h4>
          {{ item.content | raw }}
        {% endfor %}
      {% else %}
        <p>There is no news at the moment.</p>
      {% endif %}
    </div>
    {% if conference %}
      <div class="column">
        <div class="hero" style="margin-top:0">
          {% include 'includes/conference-details.html.twig' %}
        </div>
      </div>
    {% endif %}
  </div>
  {% if not is_granted('ROLE_MEMBER') %}
    <div class="join-button">
      <a class="button" href="{{ path('security_register') }}">Join the Society</a>
    </div>
  {% endif %}
{% endblock %}
