{% extends 'admin/user/_layout.twig' %}

{% block title %}Edit User Account{% endblock %}

{% block main %}
  <div class="box content">
    <h5>Edit Account for {{ user.username }}</h5>
  </div>
{% endblock %}
