{% extends 'admin/user/_layout.twig' %}

{% block title %}Edit User Account{% endblock %}

{% block main %}
  {% embed 'admin/_embed/box.twig' %}
    {% block title %}Edit Account for {{ user.username }}{% endblock %}
    {% block body %}
      <p>TODO</p>
    {% endblock %}
  {% endembed %}
{% endblock %}
