<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Reviews</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in submissions %}
      <tr>
        <td><a href="{{ path('uploads_submission', { submission: submission.id }) }}">{{ submission.title }}</a></td>
        <td>{{ submission.status }}</td>
        <td>pending</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
