<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Title</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for review in user.reviews %}
      <tr>
        <td>{{ review.submission.conference.year }}</td>
        <td>{{ review.submittion.title }}</td>
        <td>{{ review.status }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
